# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=cambia_esto_en_produccion

# Servicios internos
AUTH_SERVICE_URL=http://auth-service:3001
ALERTS_SERVICE_URL=http://alerts-service:3002
MAPS_SERVICE_URL=http://maps-service:3003
COM_SERVICE_URL=http://com-service:3004